* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Meiryo", sans-serif;
}

header {
    width: 99%;
    margin: auto;
}
.header-logo {
    background: #fff;
    padding: 15px 20px;
}
.header-logo img {
    width: 220px;
    height: auto;
    display: block;
}
header nav {
    background: #000;
    font-size: 14px;
    color: white;
}
header nav ul {
    display: flex;
    list-style: none;
    padding: 10px 20px;
}
header nav li {
    margin-right: 35px;
}

.container {
    max-width: 99%;
    margin: 10px auto 1px;
    display: flex;

}
/*左側エリア*/
.left {
    flex: 3;
    padding-bottom: 30px;
    padding-top: 2px;
    margin-right: 20px;
}
.left h2 {
    padding-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-left:5px solid black;
    border-bottom:2px solid black;
}
/*入力フォーム*/
.form-area{
    border: 2px solid gray;
    margin: 0 10px 15px 2px;
    padding: 10px;
    background: #eee;
}
#form-title{
    border-left: 5px solid red;
    padding-left: 5px;
    margin-left: 5px;
    font-weight: bold;
}
.form-area div{
    margin-top: 5px;
}
.submit {
    padding: 3px 10px 8px;
    color: white;
    background-color: dimgray;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid black;
}
/*投稿内容表示*/
.kiji{
    margin: 0 10px 8px 2px;
    border: 2px solid gray;
    padding: 15px 10px;
    background: #eee;
}
.ktitle {
    padding-left: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    border-bottom: 2px solid gray;
}
/* 記事本文 */
.contents {
    padding-left: 10px;
    font-size: 14px;
    line-height: 1.6;
}
/* ハンドルネーム表示 */
.handlename {
    margin-top: 5px;
    font-size: 12px;
}

/*右側エリア*/
.right {
    flex: 1;
    padding-top: 30px;
}
.right section {
    margin-bottom: 30px;
}
.right h4 {
    border-bottom: 2px dotted #A9A9A9;
    margin-bottom: 10px;
}
.right ul {
    list-style: none;
}
.right li {
    margin-bottom: 8px;
    padding-left: 20px;
    font-size: 14px;
}

footer {
    width: 99%;
    margin: auto;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}


